<div class="container d-flex flex-column justify-content-center align-items-center" style="height: 70vh;">
  <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-exclamation-triangle-fill text-warning mb-4" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M7.446.176a1.5 1.5 0 0 1 1.108 0l6.25 2.5A1.5 1.5 0 0 1 16 4.08v7.84a1.5 1.5 0 0 1-.196.754l-6.25 7.5a1.5 1.5 0 0 1-2.312 0l-6.25-7.5A1.5 1.5 0 0 1 0 11.92V4.08a1.5 1.5 0 0 1 .196-.754l6.25-2.5zM8 5.5a1 1 0 0 0-1 1v3a1 1 0 0 0 2 0v-3a1 1 0 0 0-1-1zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
  </svg>
  <h1 class="mb-3">400 Error - Bad Request</h1>
  <p class="lead mb-4">Oops! Something went wrong with your request.</p>
  <a routerLink="/Home" class="btn btn-primary">Return Home</a>
</div>
