
<div class="container">
    <div class="row">
    @if(product)
    {
        <div class="col-6">
            <img [src]="product.pictureUrl" [alt]="product.name" class="w-100">
        </div>
        <div class="col-6 mt-5">
            <h2>{{product.name}}</h2>
            <p style="font-size: 1.7em;">{{product.price | currency:"INR":"symbol"}}</p>
        
        @if(quantityInBasket > 0)
        {
            <h5 class="text-primary mb-3">
            You have {{quantityInBasket}} of this product in your basket
        </h5>
        }
        

        <div class="d-flex justify-content-start align-items-center">

            <i 
            (click)="decrementQuantity()"
            class="fa fa-minus-circle me-2 circleclass"></i>

            <span class="font-weight-bold" style="font-size: 1.5em;">{{quantity}}</span>
            <i 
            (click)="incrementQuantity()"
            class="fa fa-plus-circle ms-2 circleclass"></i>
            <button 
            class="btn btn-outline-success ms-4"
            (click)="updateBasket()"
            [disabled]="quantity === quantityInBasket"
            >{{buttonText}}</button>
        </div>
            <div class="row mt-4">
                <h4>Description</h4>
                <p>{{product.description}}</p>
            </div>
        
        </div>
    }
    @else{
        <h1>no product comming</h1>
    }
</div>
</div>

