.cart-no
{
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    background:rgb(255, 55, 0);
    color: white;
    text-align: center;
    top: -12px;
    right: 32px;
}
a{
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    &.active {
  color: orangered;
}
&:hover{
  color: orangered;
  
}
}
.logo
{
  cursor:pointer;
}
